.form-inline.clearfix
	.row
		.nested-fields
			= f.input :record_label, placeholder: "Record Label", label: false, input_html: { class: 'form-input form-control' }
			= link_to_remove_association "Remove", f, class: 'btn btn-secondary form button'